{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "printWidth": 140,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "tabWidth": 4,
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "rangeStart": 0
}
